* {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: aqua;
  z-index: 1;
}

main {
  padding-top: 80px;
  height: calc(100vh - 80px);
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
}

.operation-area-container {
  width: 100%;
  height: 320px;
  background-color: blue;
  position: fixed;
  bottom: -320px;
  left: 0;
  transition: bottom 0.5s;
}

.show-operation-area main {
  padding-bottom: 320px;
}

.show-operation-area .operation-area-container {
  bottom: 0;
  transition: bottom 0.5s;
}

.card {
  width: 80px;
  height: 120px;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1s;
  cursor: pointer;
}

.card.invisible {
  transform: rotateY(180deg);
}

.card > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1s;
}

.card .front {
  background-color: rgb(34, 84, 128);
}

.card .back {
  background-color: rgb(145, 87, 29);
  transform: rotateY(180deg) translateZ(1px);
}

.main-wrapper {
  width: 1000px;
  position: relative;
}

.main-wrapper .player-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.main-wrapper .player-wrapper .item-container {
  width: 100px;
  height: 120px;
  flex: 0 0 100px;
  position: relative;
  background-color: beige;
  margin-top: 24px;
  margin-bottom: 36px;
  margin-right: 80px;
}

.main-wrapper .player-wrapper .item-container:nth-child(6),
.main-wrapper .player-wrapper .item-container:nth-child(7),
.main-wrapper .player-wrapper .item-container:nth-child(8),
.main-wrapper .player-wrapper .item-container:nth-child(9),
.main-wrapper .player-wrapper .item-container:nth-child(10) {
  margin-right: 0;
}

.main-wrapper .player-wrapper .item-container:nth-child(8) {
  order: 9;
}

.main-wrapper .player-wrapper .item-container:nth-child(9) {
  order: 10;
}

.main-wrapper .player-wrapper .item-container:nth-child(10) {
  order: 12;
}

.main-wrapper .player-wrapper .item-container:nth-child(9),
.main-wrapper .player-wrapper .item-container:nth-child(10),
.main-wrapper .player-wrapper .item-container.placeholder:last-child {
  margin-bottom: 0;
}

.main-wrapper .player-wrapper .item-container.placeholder {
  width: 752px;
  flex: 0 0 752px;
  margin-left: 24px;
  margin-right: 24px;
  opacity: 0;
}

.main-wrapper .player-wrapper .item-container.placeholder:first-child {
  order: 8;
}

.main-wrapper .player-wrapper .item-container.placeholder:last-child {
  order: 11;
}

.main-wrapper .player-wrapper .item-container .label {
  position: absolute;
  height: 20px;
  width: 100%;
  top: -24px;
  left: 0;
  line-height: 20px;
}

.main-wrapper .player-wrapper .item-container .action-btn-area {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 40px;
}

.main-wrapper .player-wrapper .item-container .action-btn-area button {
  width: 56px;
  height: 100%;
  font-weight: 700;
  border: none;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 12px;
  gap: 4px;
  background: linear-gradient(120.32deg, #3FEAAF 0%, #FFFF00 100%);
  box-shadow: inset 0px -4px 0px rgba(0, 16, 164, 0.6);
  border-radius: 8px;
}

.main-wrapper .board {
  position: absolute;
  width: 752px;
  height: 320px;
  left: 124px;
  bottom: 0;
  background-color: #FFFF00;
  box-sizing: border-box;
  padding: 40px 40px 40px 20px;
}

.main-wrapper .board .task-item-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.main-wrapper .board .task-item-container .task-item {
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: blueviolet;
  position: relative;
}

.main-wrapper .board .task-item-container .task-item .task-item-token {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background-color: violet;
  position: absolute;
  right: 0;
  bottom: -40px;
}
